body
{
    text-align:center;
}
.container-fluid
{
    text-align: center;

}
.nav-bar{
    background-color:rgb(152, 82, 217);
    margin-bottom: 20px;
}
.nav-bar a{
    color:white;
    margin: 0px 15px;
    font-family: 'Itim', cursive;
    font-size : 2rem;
}
.dropdown-menu
{
    background-color:rgb(152, 82, 217);
}
.container-fluid{
    background-color:rgb(152, 82, 217);
    padding-bottom: 10px;
}
#notifier{
    padding: 70px 0px;
    background-color:rgb(152, 82, 217);
}
#notifier h1, .game_continuer{
    font-family: 'Press Start 2P', cursive;
    color:white;
}
.BTN1
{
    background-color: brown;
}
.BTN2
{

    background-color: rgb(82, 15, 148);
}
.BTN3
{

    background-color: rgb(51, 177, 20);
}
.BTN4
{

    background-color: rgb(38, 194, 181);
}
.flash
{
    opacity: 50%;
}